<%- include("partials/header") %>

<div class="error">
    <img class="center" style="width: 35%;" src="/something wrong.jpg" alt="" >
    <br>
    <h2>Please try After Some Time....!!!</h2>
    <h2>Try Again (^_^)</h2>
</div>


<%- include("partials/footer") %>